[Unit]
After=rc-local.service
[Service]
Type=simple
ExecStart=/usr/bin/gost -C /root/gost.json
Restart=always
LimitNOFILE=51200
#每10秒尝试重启服务
StartLimitBurst=0
RestartSec=10
[Install]
WantedBy=multi-user.target
